@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-sans bg-gradient-to-r from-slate-900  to-cyan-900 text-stone-100 w-full   h-full p-0 m-0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply prose text-white font-bold;
  }
  div ul li {
    @apply uppercase flex flex-col transition duration-150 ease-in rounded-t-lg rounded-b-lg h-16 w-16 text-white 
	   hover:scale-105 hover:bg-slate-600 hover:opacity-90 active:bg-blue-500 ;
  }
  .shadowCart {
    @apply uppercase text-center rounded-t-xl overflow-hidden border active:border-blue-500 shadow-md  shadow-slate-50 hover:shadow-lg hover:scale-105 hover:shadow-slate-100 active:shadow-slate-100 opacity-90;
  }
  .icon { 
    @apply bg-cyan-600 rounded-full p-1 active:bg-cyan-500 flex items-center justify-center;
  }
  .section{
    @apply flex flex-col  outline outline-2 outline-slate-500 rounded-xl  shadow-lg  shadow-orange-300  w-[98%] mt-2  sm:w-[65%]
  }
  .btn{
    @apply uppercase text-center   bg-gradient-to-br from-slate-600  to-cyan-700 text-orange-400   font-medium rounded-3xl overflow-hidden border active:border-blue-300 shadow-md active:rounded-3xl shadow-slate-200 hover:shadow-lg hover:scale-105 hover:shadow-slate-100 active:shadow-slate-100 flex flex-row items-center justify-around min-w-[130px] sm:mb-3 mt-1   h-12 lg:min-h-[67px]  bg-cyan-900 xl:min-h-[75px] md:p-3
  }
  .promo{@apply after:absolute after:right-3 after:top-[4%]	 after:bg-green-400/70 after:w-[20%] after:h-[9%]  after:rounded-full }

  @media  all and (max-width:425px){
   .phoneSideBarL{
    width: 53%;
   }
   .sectionSideBarL{
    width: 65%;
    

   }

   /* .phoneSlideBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   } */
   
   }
  @media  all and (min-width:425px) and (max-width:639px){
    .sectionSideBarL{
      width: 75%;


     }
   
    .promoCartTop{
      @apply h-[61vw]
     
         }
   
   }
  @media all and (max-width:639px ){ 
    .pizzaHomeMain{@apply flex flex-col  justify-around items-center sticky   rounded-3xl top-[86px] 

    }
    .btn{
@apply text-sm  h-10  m-2

    }
    .phoneNavBot{
    bottom: 0%;
    position: fixed;
    height:auto;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    left: 0;
    right: 0;
   
    @apply overflow-hidden bg-gradient-to-r from-slate-900  to-cyan-900 text-stone-100  shadow-slate-500 shadow-[0px_-1px_5px_1px]  rounded-t-xl } 
    .phoneHidden{
      display: none;
    }
    
    }

    .promoCartTop{
      @apply h-[67vw]
     
         }
    .phoneNavTop{
     width: 100%;
 
    }
  


  #__next{
  border: solid 2px salmon;
 padding: 0;
margin:auto;
    max-width: 1420px;
    
  }




 

   @screen sm{
    .pizzaHomeMain{@apply flex flex-row  justify-around sticky   bg-gradient-to-r from-slate-900  to-cyan-900 text-stone-100 rounded-3xl top-[86px] 

    }
   }
}
